project_id = "YOUR_PROJECT_ID"
region     = "YOUR_REGION"

service_accounts = {
  vertex_ai = {
    account_id   = "vertex-ai-custom-training-job"
    display_name = "Vertex AI Service Account"
    description  = "Service account for Vertex AI custom training jobs"
    roles = [
      "roles/aiplatform.user",
      "roles/storage.objectAdmin",
      "roles/artifactregistry.reader"
    ]
  }
}

gcs_buckets = {
  kaggle_competition_artifacts = {
    name                        = "YOUR_BUCKET_NAME"
    location                    = "YOUR_REGION"
    storage_class               = "STANDARD"
    versioning_enabled          = true
    uniform_bucket_level_access = true
  }
}

artifact_registries = {
  kaggle_competition_artifacts = {
    repository_id = "kaggle-competition-artifacts"
    location      = "YOUR_REGION"
    format        = "DOCKER"
  }
}
